* {
  margin: 0;
  padding: 0;
}

.grid-container {
  width: 80%;
  height: 100vh;
  margin: 10px auto;
  padding: 10px;
  border: 2px solid rosybrown;

  display: grid;
  grid-template-rows: auto auto 1fr auto auto auto;
  grid-gap: 10px;
}

.grid-child {
  border: 2px solid rebeccapurple;
  padding: 10px;
  font-size: 1.25rem;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto 1fr auto;
  }
  .header {
    grid-column: 1 / span 12;
  }
  .nav-bar {
    grid-column: 1 / span 12;
  }
  .main-component {
    grid-column: 4 / span 9;
  }
  .sidebar {
    grid-column: 1 / span 3;
    grid-row: 3 / span 1;
  }
  .ads {
    grid-column: 1 / span 3;
  }
  .footer {
    grid-column: 4 / span 9;
  }
}

@media (min-width: 900px) {
  .grid-container {
    grid-template-columns: repeat(12, 1fr);
    grid-row: auto 1fr auto;
  }
  .header {
    grid-column: 1 / span 12;
  }
  .nav-bar {
    grid-column: 4 / span 7;
  }
  .main-component {
    grid-column: 4 / span 7;
  }
  .sidebar {
    grid-column: 1 / span 3;
    grid-row: 2/ 4;
  }
  .ads {
    grid-column: 11 / span 2;
    grid-row: 2/ 4;
  }
  .footer {
    grid-column: 1 / span 12;
  }
}
